@import "tailwindcss";
@import "tw-animate-css";

:root[data-theme='behind-the-web'] {
  @theme inline {
    --color-primary-600: #F59A47;
    --color-primary-500: #FEB863;
    --color-primary-400: #F2D39C;
    --color-primary-300: #5EAA9E;
    --color-primary-200: #AEBC8B;
    --color-primary: #F59A47;

    --color-secondary-600: #DEBB95;
    --color-secondary-500: #F3D0AA;
    --color-secondary-400: #FFF9E6;
    --color-secondary-300: #393C45;
    --color-secondary: #DEBB95;

    --font-display: "Anton", serif;
    --font-body: "Poppins", sans-serif;
  }
}
