@import "tailwindcss";
@import "tw-animate-css";

:root[data-theme='behind-the-web'] {
  @theme inline {
    --color-primary-600: #F59A47;
    --color-primary-500: #FEB863;
    --color-primary-400: #F2D39C;
    --color-primary-300: #5EAA9E;
    --color-primary-200: #AEBC8B;
    --color-primary: #F59A47;

    --color-secondary-600: #DEBB95;
    --color-secondary-500: #F3D0AA;
    --color-secondary-400: #FFF9E6;
    --color-secondary-300: #393C45;
    --color-secondary: #DEBB95;

    --font-display: "Anton", serif;
    --font-body: "Poppins", sans-serif;
  }
}

@keyframes carousel {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-carousel {
  animation-name: carousel;
  animation-timing-function: linear;
  animation-iteration-count:infinite;
}

/* @keyframes lineFloat {
  0% {
    transform: translateY(0px) scale(1);
    opacity: 0.8;
  }
  50% {
    transform: translateY(-12px) scale(1.02);
    opacity: 1;
  }
  100% {
    transform: translateY(0px) scale(1);
    opacity: 0.8;
  }
}

.animate-lineFloat {
  animation: lineFloat 6s ease-in-out infinite;
} */

/* .social-icon {
  --icon-bg: var(--colors-primary-600);
  --icon-shadow: var(--colors-secondary-300);

  background-color: var(--icon-bg);
  box-shadow: 3px 3px 0px var(--icon-shadow);

  transition:
    background-color 250ms ease,
    box-shadow 250ms ease;
}

.social-icon:hover {
  --icon-bg: var(--colors-secondary-300);
  --icon-shadow: var(--colors-primary-600);
} */

.tape-element {
  box-shadow:
    2em 0 0 #0000,
    4em 0 0 #0000,
    6em 0 0 var(--color-primary-400),
    8em 0 0 #0000,
    10em 0 0 #0000,
    12em 0 0 var(--color-primary-400),
    14em 0 0 #0000,
    16em 0 0 #0000,
    18em 0 0 var(--color-primary-400),
    20em 0 0 #0000,
    22em 0 0 #0000,
    24em 0 0 var(--color-primary-400),
}
